.home {
  background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/beach2/bg_mon_1440x900.jpg); /* Путь к фоновому изображению */
  background-size: cover;
  min-height: 100vh;
}

.header-container {
  height: 40px;
  border: 2px solid red;
  padding-top: 10px;
}
.div-left{
  float: left;
  margin-left: 10px;
  padding-left: 10px;

  border:2px solid #008a77;
}
.div-right{
  float: right;
  padding-right: 10px;
  margin-right: 10px;
}

.right-navigation{
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}

.right-navigation div {
  list-style-type:none;
  float:left;
  padding-left:10px;
}

.right-navigation img {
  width: 25px; /* or any custom size */
  height: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
